%h1 Listing messages

%table
  %tr
    %th Name
    %th Email
    %th Body
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.name
      %td= message.email
      %td= message.body
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New Message', new_message_path
