%p#notice= notice

%p
  %b Name:
  = @message.name
%p
  %b Email:
  = @message.email
%p
  %b Body:
  = @message.body

%p
  = link_to 'Edit', edit_message_path(@message)
  \|
  = link_to 'Delete', @message, :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'New Message', new_message_path
  \|
  = link_to 'List', messages_path
