= form_for [article, comment] do |f|
  - if comment.errors.any?
    #error_explanation
      %h2
        #{pluralize(comment.errors.count, "error")}
        prohibited this comment from being saved:
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg

  %table.form
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td= f.label :body, 'Comment'
      %td= f.text_area :body, :size => '70x20'
    - if admin?
      %tr
        %td= f.label :created_at, 'Date'
        %td= f.date_select :created_at
    %tr
      %td
      %td= f.submit 'Save', :disabled => (params[:controller] == 'article')
