%p#notice= notice

%p
  %b Name:
  = @comment.name
%p
  %b Email:
  = @comment.email
%p
  %b Body:
  = @comment.body
%p
  %b Article:
  = @comment.article_id

%p
  = link_to 'Edit', edit_article_comment_path(@article, @comment)
  \|
  = link_to 'Delete', article_comment_path(@article, @comment), :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'New Comment', new_article_comment_path
