= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        #{pluralize(@article.errors.count, "error")}
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  %table.form
    %tr
      %td= f.label :title
      %td= f.text_field :title, autofocus: true
    %tr
      %td= f.label :keywords
      %td= f.text_field :keywords
    %tr
      %td= f.label :body
      %td= f.text_area :body, cols: 100, rows: 40
    %tr
      %td= f.label :category, 'File&nbsp;under:'.html_safe
      %td
        - Category.all.each do |category|
          = check_box_tag "article[category_ids][]", category.id, @article.categories.include?(category)
          = category.name
          &nbsp;
    %tr
      %td= f.label :created_at
      %td= f.date_select :created_at
    %tr
      %td= f.label :cached_slug
      %td= f.text_field :cached_slug
    %tr
      %td= f.label :markdown
      %td= f.check_box :markdown
    %tr
      %td= f.label :is_published, 'Published?'.html_safe
      %td= f.check_box :is_published
    %tr
      %td= f.label :comments_allowed, 'Comments&nbsp;Allowed?'.html_safe
      %td= f.check_box :comments_allowed

  .actions
    = f.submit 'Save'
