- set_title 'Sandbox'

%ul
  %li= link_to "pandoc experiment", pages_path
  %li= ''
  %li= link_to "create user", signup_path
  %li= link_to "users", users_path
  %li= link_to "-- back to blog --", articles_path
