.photos
  = link_to "<img src='/photos/thumbs/restre-1.jpg' />".html_safe, '#'
  = link_to "<img src='/photos/thumbs/restre-2.jpg' />".html_safe, '#'
  = link_to "<img src='/photos/thumbs/restre-3.jpg' />".html_safe, '#'
  = link_to "<img src='/photos/thumbs/restre-4.jpg' />".html_safe, '#'
  = link_to "<img src='/photos/thumbs/restre-5.jpg' />".html_safe, '#'
  = link_to "<img src='/photos/thumbs/restre-6.jpg' />".html_safe, '#'
