!!!
%html
  %head
    %title= yield(:title) || "Untitled"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    #header_wrap.outer

      %header.inner
        %h1#project_title A rubyist stranded on Martha&rsquo;s Vineyard

        - if current_user
          %ul#login
            %li= "Logged in as #{link_to(current_user.username, current_user)}".html_safe
            %li= link_to 'Logout', logout_path

        %ul#nav.clear
          %li <a href="#" id="xselected">Blog</a>
          %li <a href="#">Contact</a>
          %li <a href="#" id="selected">FAQ</a>
          %li <a href="#">About</a>
          %li <a href="#">Videos</a>

    #main_content_wrap.outer
      %section#main_content.inner
        afffaffa

        - if show_title?
          %h1= yield(:title)


        - flash.each do |key, msg|
          = content_tag :div, msg, :id => "flash_#{key}", :class => "alert #{{:error => "alert-error", :alert => "alert-error"}[key].to_s}"

        = yield

        %h3 Welcome to GitHub Pages.
        %p This automatic page generator is the easiest way to create beautiful 
        pages for all of your projects. Author your page content here using 
        GitHub Flavored Markdown, select a template crafted by a designer, and 
        publish. After your page is generated, you can check out the new branch:

        <pre><code>$ cd your_repo_root/repo_name
        $ git fetch origin
        $ git checkout gh-pages
        </code></pre>

        %p If you're using the GitHub for Mac, simply sync your repository and you'll see the new branch.

        %h2 Designer Templates
        %p We've crafted some handsome templates for you to use. Go ahead and 
        continue to layouts to browse through them. You can easily go back to 
        edit your page before publishing. After publishing your page, you can 
        revisit the page generator and switch to another theme. Your Page 
        content will be preserved if it remained markdown format.

    #footer_wrap.outer
    %footer.inner
      %p.copyright &copy; 2012 Braulio Carreno
