!!!
%html{:lang=>'en'}
  %head
    %meta{:charset=>'utf-8'}
    %meta{:name=>'msapplication-config', :content=>'none'}


    %title= yield(:title) || "Untitled"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

  %body
    #header_wrap.outer

      #header.inner
        %h6#header_title= motto

        - if current_user
          %ul#login
            %li= "Logged in as #{link_to(current_user.username, current_user)}".html_safe
            %li= link_to 'Logout', logout_path

        %ul#nav
          - menu.each do |m|
            - m[:access] ||= m[:admin]
            - if m[:access] == :public || (m[:access] == :connected && current_user) || (m[:access] == :admin && admin?)
              - selected = /#{params[:controller]}/ =~ m[:path]
              - selected &&= /#{params[:action]}/ =~ m[:action] unless m[:action].nil?
              %li= link_to(m[:label], m[:path], selected ? {:id => 'selected'} : {})

        %ul#icons
          %li= link_to image_tag("twitter_24.png"), 'http://twitter.com/#!/bcarreno'
          %li= link_to image_tag("linkedin_24.png"), 'http://www.linkedin.com/in/bcarreno'
          %li= link_to image_tag("flickr_24.png"), 'http://www.flickr.com/photos/bcarreno/'
          %li= link_to image_tag("github_26.png"), 'https://github.com/bcarreno'
        .clear

    #main_content_wrap.outer
      #main_content.inner
        %h1{:style => "display: #{show_title? ? 'inline' : 'none'}"}
          = yield(:title)

        - flash.each do |key, msg|
          = content_tag :div, msg, :id => "flash_#{key}", :class => "alert #{{:error => "alert-error", :alert => "alert-error"}[key].to_s}"

        = yield

    #footer_wrap.outer
    %footer.inner
      %p.copyright &copy; #{Time.now.year} Braulio Carreno
