!!!
%html
  %head
    %title= yield(:title) || "Untitled"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    #container
      = tabs

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      #header
        %div
          - if current_user
            Logged in as #{current_user.username}
            = link_to "Logout", logout_path
      #center
        - if show_title?
          %h1= yield(:title)
        = yield
      #footer 
